<section class="nav-sections hidden-xs">
  <nav class="main-nav">
    <ul class="wrapper-nav pos-relative clearfix">
      <li class="nav-item nav-lv-0">
        <a href="#">
          <span>level1</span>
        </a>

        <ul class="nav-item nav-item-sub">
          <li class="nav-item nav-lv-1">
            <a href="#">
              <span>
                level2
              </span>
            </a>
            <ul>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-lv-1">
            <a href="#">
              <span>
                level2
              </span>
            </a>
            <ul>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-lv-1">
            <a href="#">
              <span>
                level2
              </span>
            </a>
            <ul>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-lv-1">
            <a href="#">
              <span>
                level2
              </span>
            </a>
            <ul>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-lv-1">
            <a href="#">
              <span>
                level2
              </span>
            </a>
            <ul>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-lv-1">
            <a href="#">
              <span>
                level2
              </span>
            </a>
            <ul>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
              <li class="nav-item nav-lv-2">
                <a href="#">
                  <span>
                    level3
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </li>
      <li class="nav-item nav-lv-0">
        <a href="#">
          <span>level1</span>
        </a>
      </li>
      <li class="nav-item nav-lv-0">
        <a href="#">
          <span>level1</span>
        </a>
      </li>
      <li class="nav-item nav-lv-0">
        <a href="#">
          <span>level1</span>
        </a>
      </li>
      <li class="nav-item nav-lv-0">
        <a href="#">
          <span>level1</span>
        </a>
      </li>
    </ul>
  </nav>
</section>
